th{
    font-size:medium;
}
input{
    width:30%;
   padding: .5%;
   margin-top: 2%;
}
textarea{
    margin-top:2%;
}
button{
    background-color:blue;
    color: ivory;
}
.form-control{
  margin-left: 30%;
}
table{
  margin-left: 0px;
}
td{
  text-align: center;
}