<div class="container">
    <form (ngSubmit)="addBooks()" #addBook="ngForm">
        
    <table class="table" >
      <tr>
          <th>Book Name</th>
          <td><input type="text" placeholder="book name" name="title" [(ngModel)]="name" required></td>
      </tr>
      <tr>
          <th>Author</th>
          <td><input type="text" placeholder="author" name="author" [(ngModel)]="author" required></td>
      </tr>
      <tr>
          <th>Genre</th>
          <td><input type="text" placeholder="genre" name="genre" [(ngModel)]="genre" required></td>
      </tr>
      <tr>
          <th>Image</th>
          <td><input type="file" style="align-self: center;" name="img" (change)="onFileSelected($event)" ></td>
      </tr>
      <tr>
            <td colspan="2"> <button type="submit" id="bttn1" [disabled]="addBook.form.invalid" class="btn btn-hover-primary">Submit</button></td>
      </tr>
    </table>
   
    </form>
</div>
