<div class="container">
    <form (ngSubmit)="editAuthor()">
        
    <table class="table" >
      <tr>
          <th>Author Name</th>
          <td><input type="text" placeholder="author name" value={{title}} class="form-control" name="title"[(ngModel)]="title"></td>
      </tr>
      <tr>
          <th>Add a tag</th>
          <td><input type="text" placeholder="tag" value={{tag}} name="tag" class="form-control" [(ngModel)]="tag"></td>
      </tr>
      <tr>
          <th>Description</th>
          <td><textarea style="width: 30%; height: 15vh;" name="txt" value={{txt}} class="form-control" [(ngModel)]="txt" ></textarea></td>
      </tr>
      <tr>
          <th>Image</th>
          <td><input type="file" style="align-self: center;" name="img"   (change)="onFileSelected($event)" ></td>
      </tr>
      <tr>
            <td colspan="2"> <button type="submit" id="bttn" class="btn btn-hover-primary">Submit</button></td>
      </tr>
    </table>
    
    </form>
</div>
