<div class="container">
    <form  (ngSubmit)="newAuthors()" #addAuthor="ngForm">
        
    <table class="table" >
      <tr>
          <th>Author Name</th>
          <td><input type="text" placeholder="author name" name="title" [(ngModel)]="title" required ></td>
      </tr>
      <tr>
          <th>Add a tag</th>
          <td><input type="text" placeholder="tag" name="tag" [(ngModel)]="tag" required></td>
      </tr>
      <tr>
          <th>Description</th>
          <td><textarea style="width: 30%; height: 15vh;" name="txt" [(ngModel)]="txt" required></textarea></td>
      </tr>
      <tr>
          <th>Image</th>
          <td><input type="file" style="align-self: center;" name="img"  (change)="onFileSelected($event) "  ></td>
      </tr>
      <tr>
            <td colspan="2"> <button type="submit" id="bttn" [disabled]="addAuthor.form.invalid" class="btn btn-hover-primary">Submit</button></td>
      </tr>
    </table>
    
    </form>
</div>
